# User name for all components that do NOT require root. In this case, only Grafana.
USER_ID=1000
GROUP_ID=1000

TRAEFIK_HTTP_ROUTERS_GRAFANA_RULE='Host(`monitoring.my.server`)'

MOUNT_GRAFANA=
MOUNT_ALLOY=
MOUNT_LOKI=
MOUNT_PROMETHEUS=

